<!-- Process scoreboard query into array with subarrs for each user's results -->

<% # get all the usernames
  teams = []
    scoreboard.each do |row|
    teams << row["team_name"]
  end
  teams = teams.uniq.sort
 %>

 <% rounds.each do |row| %>
   <%= row.id %><br>
 <% end %>

<% results_arr = [] %>
<%  teams.each do |team|
      team_results = [team]
      rounds.each do |round|
        matched_row =
          scoreboard
          .find {|row| row["team_name"] == team && row["round_id"] == round.id.to_s}

      matched_row ||= 0
      team_results << matched_row["points"].to_i
      end
      team_results << team_results[1..-1].inject(:+)
      results_arr << team_results
      results_arr.sort_by! {|result| result[-1] * -1}
    end
%>


<% scoreboard_arr = [] %>
<% round_ids = score_rounds %>
<% scoreboard.each_with_index do |score, idx| %>
  <% if score == scoreboard.first || score["team_name"] != scoreboard[idx - 1]["team_name"] %>
      <% scoreboard_arr << [] %>
      <% scoreboard_arr.last << "<b>#{score['team_name']}</b>" %>
      <% scoreboard_arr.last.first.concat(" (#{score['name']})") %>
      <% scoreboard_arr.last << score["points"] %>
  <% elsif score == scoreboard.last || score["team_name"] != scoreboard[idx + 1]["team_name"] %>
      <% scoreboard_arr.last << score["points"] %>
      <% scoreboard_arr.last << user_score(scoreboard, score["name"], round_ids) %>
  <% else %>
    <% scoreboard_arr.last << score["points"] %>
  <% end %>
<% end %>

<% results_arr.each do |row| %>
  <%= row %><br>
<% end %>

<% scoreboard.each do |row| %>
  <%= row %><br>
<% end %>


<!-- Sort by last row is not working because sometiems the last row (integer
     score) isn't reached (ie, when there is only one round score and the above
     processor never reached the "last" condition).

     In those cases, this is attempting to sort strings and failing.

     ALSO, the scores are not necessarily coming out in order; may need to
     select the rows where team_name or name match, then sort by round, then
     add up scores push into ordered array

     ALSO, still multiplying one seeds by 1, not 1.5.
     -->

<%# scoreboard_arr.sort_by! {|row| row.last * -1 } %>
<% scoreboard_arr.each do |user_row| %>
  <% user_row.each do |col| %>
    <% if col == user_row.first %>
      <tr>
        <td>
          <%= col.html_safe %>
        </td>
    <% elsif col == user_row.last %>
        <td>
          <%= col %>
        </td>
      </tr>
    <% else %>
      <td>
        <%= col %>
      </td>
    <% end %>
  <% end %>
<% end %>
