<% if params[:controller] != 'statics' %>
  <% if logged_in? %>
    <p><img src="http://i.imgur.com/WWe6IMs.png" width="25" style="vertical-align: text-bottom;"> SSNCAABBP |
      <%= link_to "Scoreboard", users_url %> |
      <%= link_to "Add/Edit Picks", new_pick_url %> |
      <% if admin? %>
        <%= link_to "Edit Teams", teams_url %> |
        <%= link_to "Edit Round Results", rounds_url %> |
      <% end %>
      <%= link_to "Log Out", session_url, method: :delete %></p>
  <% else %>
    <p><img src="http://i.imgur.com/WWe6IMs.png" width="25" style="vertical-align: text-bottom;"> SSNCAABBP |
    <%= link_to "Log In", new_session_url %> |
    <%= link_to "Sign Up", new_user_url %></p>
  <% end %>
<% end %>
<hr>

