<% if @current_rounds.any? %>
  <form action="<%= picks_url %>" method="POST">
    <%= auth_token %>
    <p>
      <label for="Round">Round</label>
      <select name="pick[round_id]">
        <% @current_rounds.sort.each do |round| %>
        <option
          value="<%= round.id %>"
          <%= "selected" if @last_pick_round_id == round.id %>>
            <%= round.name %>
          </option>
        <% end %>
      </select>
    </p>
    <p>
      <label for="Round">Team</label>
      <select name="pick[team_id]">
        <% @teams.each do |team| %>
        <option value="<%= team.id %>"><%= team.name %> (<%= team.seed %>)</option>
        <% end %>
      </select>
    </p>
    <p>
      <label for="Round">Points</label>
      <input type="text" name="pick[points]">
    </p>
    <p>
      <label for="double">Daily Double?</label>
      <input type="checkbox" name="pick[multiplier]" value="2" id="double" >
    </p>

    <input type="submit" value="Add Pick">
  </form>
<% end %>

<%= render 'previous_picks' %>
